@using SageBook.Lab2_3.MVC_WebAPI.Models.Book;
@model BookViewModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete @Model.Name book?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="Delete">
        <div class="form-group mt-3">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <input onclick="location.href='@Url.Action("Index")'" type="button" value="Cancel" class="btn btn-secondary">
        </div>
    </form>
</div>
